@charset "UTF-8";

#ssafy_logo {
	width: 150px;
}

mark.sky {
    background: linear-gradient(to top, #54fff9 20%, transparent 30%);
}
        
mark.orange {
    background: linear-gradient(to top, orange 20%, transparent 30%);
}

mark.pink {
    background: linear-gradient(to top, pink 20%, transparent 30%);
}
